body,
html {
	height: 100%;


	@include phone {
		min-width: 320px;
	}
}


body {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	


	@include phone {
		font-size: 14px;
	}
}


button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	min-width: 320px;
}

.container {
	margin: 0 auto;
	max-width:1165px;
}

.container--header {
	display: flex;
	justify-content: space-between;
	padding-top: 32px;
	padding-bottom: 35px;

	@include netbook {
		flex-wrap: wrap;
		width: 60%;
	
	}

	@include tablet {
	justify-content: center;
	width: 90%;
	}
}